src/main/resources/xsd/StandardDataService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.mapd.benefits.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.mapd.benefits.vba.va.gov/" name="StandardDataService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.mapd.benefits.vba.va.gov/" schemaLocation="StandardDataService.xsd"/>
</xsd:schema>
</types>
<message name="getSpecialIssueList">
<part name="parameters" element="tns:getSpecialIssueList"/>
</message>
<message name="getSpecialIssueListResponse">
<part name="parameters" element="tns:getSpecialIssueListResponse"/>
</message>
<message name="BenefitsException">
<part name="fault" element="tns:BenefitsException"/>
</message>
<message name="getContentionTypeList">
<part name="parameters" element="tns:getContentionTypeList"/>
</message>
<message name="getContentionTypeListResponse">
<part name="parameters" element="tns:getContentionTypeListResponse"/>
</message>
<message name="getContentionStatusTypeCodeList">
<part name="parameters" element="tns:getContentionStatusTypeCodeList"/>
</message>
<message name="getContentionStatusTypeCodeListResponse">
<part name="parameters" element="tns:getContentionStatusTypeCodeListResponse"/>
</message>
<message name="getBenefitClaimStatusTypeCodeList">
<part name="parameters" element="tns:getBenefitClaimStatusTypeCodeList"/>
</message>
<message name="getBenefitClaimStatusTypeCodeListResponse">
<part name="parameters" element="tns:getBenefitClaimStatusTypeCodeListResponse"/>
</message>
<message name="getClaimSuspenseReasonTypeCodeList">
<part name="parameters" element="tns:getClaimSuspenseReasonTypeCodeList"/>
</message>
<message name="getClaimSuspenseReasonTypeCodeListResponse">
<part name="parameters" element="tns:getClaimSuspenseReasonTypeCodeListResponse"/>
</message>
<message name="getContentionClassificationTypeCodeList">
<part name="parameters" element="tns:getContentionClassificationTypeCodeList"/>
</message>
<message name="getContentionClassificationTypeCodeListResponse">
<part name="parameters" element="tns:getContentionClassificationTypeCodeListResponse"/>
</message>
<message name="getStandardActions">
<part name="parameters" element="tns:getStandardActions"/>
</message>
<message name="getStandardActionsResponse">
<part name="parameters" element="tns:getStandardActionsResponse"/>
</message>
<message name="getStatusTypeCodeList">
<part name="parameters" element="tns:getStatusTypeCodeList"/>
</message>
<message name="getStatusTypeCodeListResponse">
<part name="parameters" element="tns:getStatusTypeCodeListResponse"/>
</message>
<message name="getBnftClaimLcStatusTypeCodeList">
<part name="parameters" element="tns:getBnftClaimLcStatusTypeCodeList"/>
</message>
<message name="getBnftClaimLcStatusTypeCodeListResponse">
<part name="parameters" element="tns:getBnftClaimLcStatusTypeCodeListResponse"/>
</message>
<message name="getDvlpmtItemLcStatusTypeCodeList">
<part name="parameters" element="tns:getDvlpmtItemLcStatusTypeCodeList"/>
</message>
<message name="getDvlpmtItemLcStatusTypeCodeListResponse">
<part name="parameters" element="tns:getDvlpmtItemLcStatusTypeCodeListResponse"/>
</message>
<portType name="StandardDataServiceRemote">
<operation name="getSpecialIssueList">
<input message="tns:getSpecialIssueList"/>
<output message="tns:getSpecialIssueListResponse"/>
<fault message="tns:BenefitsException" name="BenefitsException"/>
</operation>
<operation name="getContentionTypeList">
<input message="tns:getContentionTypeList"/>
<output message="tns:getContentionTypeListResponse"/>
<fault message="tns:BenefitsException" name="BenefitsException"/>
</operation>
<operation name="getContentionStatusTypeCodeList">
<input message="tns:getContentionStatusTypeCodeList"/>
<output message="tns:getContentionStatusTypeCodeListResponse"/>
<fault message="tns:BenefitsException" name="BenefitsException"/>
</operation>
<operation name="getBenefitClaimStatusTypeCodeList">
<input message="tns:getBenefitClaimStatusTypeCodeList"/>
<output message="tns:getBenefitClaimStatusTypeCodeListResponse"/>
<fault message="tns:BenefitsException" name="BenefitsException"/>
</operation>
<operation name="getClaimSuspenseReasonTypeCodeList">
<input message="tns:getClaimSuspenseReasonTypeCodeList"/>
<output message="tns:getClaimSuspenseReasonTypeCodeListResponse"/>
<fault message="tns:BenefitsException" name="BenefitsException"/>
</operation>
<operation name="getContentionClassificationTypeCodeList">
<input message="tns:getContentionClassificationTypeCodeList"/>
<output message="tns:getContentionClassificationTypeCodeListResponse"/>
<fault message="tns:BenefitsException" name="BenefitsException"/>
</operation>
<operation name="getStandardActions">
<input message="tns:getStandardActions"/>
<output message="tns:getStandardActionsResponse"/>
<fault message="tns:BenefitsException" name="BenefitsException"/>
</operation>
<operation name="getStatusTypeCodeList">
<input message="tns:getStatusTypeCodeList"/>
<output message="tns:getStatusTypeCodeListResponse"/>
<fault message="tns:BenefitsException" name="BenefitsException"/>
</operation>
<operation name="getBnftClaimLcStatusTypeCodeList">
<input message="tns:getBnftClaimLcStatusTypeCodeList"/>
<output message="tns:getBnftClaimLcStatusTypeCodeListResponse"/>
<fault message="tns:BenefitsException" name="BenefitsException"/>
</operation>
<operation name="getDvlpmtItemLcStatusTypeCodeList">
<input message="tns:getDvlpmtItemLcStatusTypeCodeList"/>
<output message="tns:getDvlpmtItemLcStatusTypeCodeListResponse"/>
<fault message="tns:BenefitsException" name="BenefitsException"/>
</operation>
</portType>
<binding name="StandardDataServicePortBinding" type="tns:StandardDataServiceRemote">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getSpecialIssueList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BenefitsException">
<soap:fault name="BenefitsException" use="literal"/>
</fault>
</operation>
<operation name="getContentionTypeList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BenefitsException">
<soap:fault name="BenefitsException" use="literal"/>
</fault>
</operation>
<operation name="getContentionStatusTypeCodeList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BenefitsException">
<soap:fault name="BenefitsException" use="literal"/>
</fault>
</operation>
<operation name="getBenefitClaimStatusTypeCodeList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BenefitsException">
<soap:fault name="BenefitsException" use="literal"/>
</fault>
</operation>
<operation name="getClaimSuspenseReasonTypeCodeList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BenefitsException">
<soap:fault name="BenefitsException" use="literal"/>
</fault>
</operation>
<operation name="getContentionClassificationTypeCodeList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BenefitsException">
<soap:fault name="BenefitsException" use="literal"/>
</fault>
</operation>
<operation name="getStandardActions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BenefitsException">
<soap:fault name="BenefitsException" use="literal"/>
</fault>
</operation>
<operation name="getStatusTypeCodeList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BenefitsException">
<soap:fault name="BenefitsException" use="literal"/>
</fault>
</operation>
<operation name="getBnftClaimLcStatusTypeCodeList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BenefitsException">
<soap:fault name="BenefitsException" use="literal"/>
</fault>
</operation>
<operation name="getDvlpmtItemLcStatusTypeCodeList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BenefitsException">
<soap:fault name="BenefitsException" use="literal"/>
</fault>
</operation>
</binding>
<service name="StandardDataService">
<port name="StandardDataServicePort" binding="tns:StandardDataServicePortBinding">
<soap:address location="http://linktestbepbenefits.vba.va.gov:80/StandardDataService/StandardDataService"/>
</port>
</service>
</definitions>